# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.env
public

# Build directories
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignored folders
src/components/ContactUs-Components
src/components/header
src/components/services
src/components/slider
src/components/splashScreen
src/components/Team
src/components/ui
src/components/video
