@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "FuturaEF-Heavy";
  src: url("/fonts/futuraef-heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FuturaEF-Medium";
  src: url("/fonts/futuraef-medium.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* Timex Brand Colors */
:root {
  --primary: #751f8c;
  --primary-dark: #7c2d8b;
  --primary-light: #b665f2;
  --primary-hover: #8129d1;
  --font-futura-heavy: "FuturaEF-Heavy";
}

/* Apply primary colors to common classes */
.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--primary) !important;
}

.border-primary {
  border-color: var(--primary) !important;
}

.custom-pagination .swiper-pagination-bullet {
  background-color: #751f8c;
  width: 48px;
  height: 5px;
  border-radius: 0px !important;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #751f8c;
}

body {
  background-color: black;
  font-family: var(--font-futura-heavy), Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  /* Scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  /* background: rgba(255, 255, 255, 0.1); */
  /* Transparent Blur Effect */
  backdrop-filter: blur(8px);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  /* background: rgba(128, 0, 128, 0.6); */
  background: black;
  /* Purple color */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}