@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-pagination .swiper-pagination-bullet {
  background-color: #751f8c;
  width: 48px;
  height: 5px;
  border-radius: 0px !important;
}
.custom-pagination .swiper-pagination-bullet-active {
  background: #751f8c;
}
